


.series-bar {
  width: 10px;
  padding: 50px;
}

#chart {
  width: 790px;
  height: 480px;
  padding: 30px;
}

#nav {
  padding: 0px;
}

#drop-down {
  top: 0;
  right: 0;
}

#overview-text {
  margin-left: 20px;
}
