.App {

background-color: #FBFCFD;
}


.series-bar {
  width: 10px;
  padding: 50px;
}

#chart {
  
}

#chart2 {
  padding-bottom: 25px;
}

#nav {
  padding: 0px;
}

#drop-down {
  top: 0;
  right: 0;
}

#overview-text {
  margin-left: 20px;
}

.canvas_js_chart {
  
}

#row6 {
  margin-top: 25px;
}

#row5 {
  margin-top: 25px;
}

#row4 {
  margin-top: 25px;
}

#row3 {
  margin-top: 5px;
}

#row2 {
  margin-top: 25px;
  margin-bottom: 5px;  
}

#row1 {
  margin-bottom: 25px; 
}

.card_style {
  border: 1px solid #EBEBEB;
}

#aside_nav {

}

