.App {

background-color: #FBFCFD;
}


.series-bar {
  width: 10px;
  padding: 50px;
}

#chart {
  
}

#chart2 {
  padding-bottom: 25px;
}

#chart3_style {
  overflow-y: scroll;
}

#nav {
  padding: 0px;
}

#drop-down {
  top: 0;
  right: 0;
}

#overview-text {
  margin-left: 20px;
}
#scan-text {
  float: right;
}

.canvas_js_chart {
  
}

#row6 {
  margin-top: 25px;
}

#row5 {
  margin-top: 25px;
}

#row4 {
  margin-top: 25px;
}

#row3 {
  margin-top: 5px;
}

#row2 {
  margin-top: 25px;
  margin-bottom: 5px;  
}

#row1 {
  margin-bottom: 25px; 
}

.card_style {
  border: 1px solid #EBEBEB;
}

.aside_nav {
  font-size: 8px;
}

#notification_card {
  overflow-y: scroll;
}

#chart1_bottom_text {
  text-align: center;
}

.security_issues_card {
  margin-left: 2%;
  height: 2px;
  width: 95%;
  background-color: #35ACDE;
}

#row3_col1 {
  padding-right:0;
    
}

#row3_col2 {
  padding-right: 0;
  padding-left: 0; 
}

#row3_col3 {
  padding-left: 0;
    
}

.centered_text {
  text-align: center;
  color: #797979;
}

#issues_state {
  text-align: center;
  color: #35ACDE;
}

.sources_state {
  text-align: center;
  color: #35ACDE;
}

#sources_state {
  text-align: center;
  color: #35ACDE;
}

#dbs_state {
  text-align: center;
  color: #35ACDE;
}

#tables_state {
  text-align: center;
  color: #35ACDE;
}

#files_state {
  text-align: center;
  color: #35ACDE;
}

#aside_list {
  background-color: rgba(88,183,229,0.07);
}

.sens_data_text {
  font-size: 10px;
  margin-left: 15px;
}

.vertical_text {
  writing-mode: vertical-rl;
text-orientation: sideways-right;
left: 0;
margin-top: 150px;
}

#navbar {
  height: 80px;
}

.inspection_denominator {
  color: #C5C5C5;
}

#graph_icon1 {
  margin-left: 80px;
  color: #35ACDE;
  width: 70px;
  height: 60px;

}